<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Car Maker</th>
                    <th>Car Model</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Rental Price</th>
                    <th>Availablity Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rental of rentalsData">
                    <td>{{rental.maker}}</td>
                    <td>{{rental.model}}</td>
                    <td>{{startDateVal}}</td>
                    <td>{{endDateVal}}</td>
                    <td>{{rental.rentalPrice}}</td>
                    <td *ngIf="isAvailable">In Stock</td>
                    <td *ngIf="isAvailable==false">Out of Stock</td>
                    <td>
                        <div *ngIf="!rental.isAccepted">
                            <a routerLink="/edit-rental/{{rental.rentId}}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m19.3 8.925l-4.25-4.2l1.4-1.4q.575-.575 1.413-.575t1.412.575l1.4 1.4q.575.575.6 1.388t-.55 1.387L19.3 8.925ZM17.85 10.4L7.25 21H3v-4.25l10.6-10.6l4.25 4.25Z"/></svg>
                            </a>

                            <a class="mr-2" (click)="onClickDelete(rental.rentId)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="red" d="M19 4h-3.5l-1-1h-5l-1 1H5v2h14M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6v12Z"/></svg>
                            </a>

                            <button mat-raised-button color="primary" style="margin-right: 10px;" (click)="onAccept(rental.rentId)">Accept</button>
                        </div>
                        <button mat-raised-button color="primary" class="px-2" (click)="onRequestReturn(rental.rentId)" *ngIf="!rental.returnReq && rental.isAccepted">Request to Return
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>